@import "../../scss/utils.scss";

.Weather {
    background-color: #3e4145;
    min-height: 100vh;
    margin-top: 5px;
    display: flex;
    border-radius: 15px 15px 0 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}